---
import Icon from '@components/icons/Cal.com.astro'
import Pointer from '@components/user/Pointer.astro'
---
<div class="bg-white hover:bg-inherit p-6 relative">
  <div>
    <span class="inline-flex rounded-lg p-3 bg-sky-50 text-sky-800 ring-4 ring-white">
      <Icon class="h-8 w-8"/>
    </span>
  </div>
  <div class="mt-8">
    <h3 class="text-base font-semibold leading-6 text-gray-900">
      <a href="/kamilsk/cal.com/" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        Schedule a one-on-one
      </a>
    </h3>
    <p class="mt-2 text-sm text-gray-500">
      Need a talk? No problem, let's get in touch.
    </p>
  </div>
  <Pointer/>
</div>
