---
import Icon from '@components/icons/GitHub.astro'
import Pointer from '@components/user/Pointer.astro'
---
<div class="bg-white hover:bg-inherit p-6 relative">
  <div>
    <span class="inline-flex rounded-lg p-3 bg-gray-100 text-gray-800 ring-4 ring-white">
      <Icon class="h-8 w-8 fill-current"/>
    </span>
  </div>
  <div class="mt-8">
    <h3 class="text-base font-semibold leading-6 text-gray-900">
      <a href="/kamilsk/github/" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        GitHub
      </a>
    </h3>
    <p class="mt-2 text-sm text-gray-500">
      Open-source projects and contributions. They are built with passion and love.
    </p>
  </div>
  <Pointer/>
</div>
