---
import Icon from '@components/icons/Twitter.astro'
import Pointer from '@components/user/Pointer.astro'
---
<div class="bg-white hover:bg-inherit p-6 relative">
  <div>
    <span class="inline-flex rounded-lg p-3 bg-blue-50 text-blue-400 ring-4 ring-white">
      <Icon class="h-8 w-8 fill-current"/>
    </span>
  </div>
  <div class="mt-8">
    <h3 class="text-base font-semibold leading-6 text-gray-900">
      <a href="/kamilsk/twitter/" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        Twitter
      </a>
    </h3>
    <p class="mt-2 text-sm text-gray-500">
      My news feed is related to the Startup-loser topic.
    </p>
  </div>
  <Pointer/>
</div>
